a{
    margin: 40px;
    outline:2px solid black;
    transition:all ease-in-out 300ms ;
    /* fare üzerine geldiği zaman yavaş yavaş akış verme verme */
}

a:link{
    /* tıklanmadan önce renk veriyor */
    color: red;
}

a:hover{
    /* fare üzerine geldiği zaman stil verme */
    color: mediumspringgreen;
    padding: 2px;
    border: 2px solid black;
    border-radius: 10px;
    cursor: progress;    
}

a:active {
    /* tam tıklandığı esna da stil veriyor */
    color: blue;
}

a:visited{
    /* tıklandıktan sonra style değiştiriyor */
    color: black;
}

#clar {
    margin: 40px;
    padding: 10px;
    outline: none;
    text-decoration: none;
    background-color: burlywood;
    transition:all ease-in-out 300ms ;
}

#clar:link{
    /* tıklanmadan önce renk veriyor */
    color: red;
}


#clar:hover{
    /* fare üzerine geldiği zaman stil verme */
    color: rgb(255, 249, 249);
    background-color: cadetblue;
    border-radius: 10px;
    cursor: none;   
}

#clar:active{
    /* tam tıklandığı esna da stil veriyor */
    color: rgb(255, 0, 140);
}

#clar:visited{
    /* tıklandıktan sonra style değiştiriyor */
    color: rgb(9, 240, 28);
}

b {
    display: none;
    background-color: yellow;
    padding: 5px;
}

div:hover + b {
    display: inline-block;
}

img {
    display: none;
    width: 300px;
    margin-top: 25px;
    position: relative;
    left: 200px;
    top: -50px;
}
div:hover + img {
    display: inline-block;
}

input {
    font-size: 20;
    padding: 15px;
    border-radius: 5px;
}
input:focus {
    outline: 0;
    border :1px solid rgb(255, 0, 140)
}

