body{
    margin: 20px;
    border: 2px solid black;
}
H1{
    border: 2px solid black;
    outline: 5px dashed red;
    width: 30%;
    outline-offset: 15px;
    /* kutu ile outline arasına boşluk koymak için kullanılır. */
    /* outline ile border arasındaki fark : border diğer elementlerin üstüne geçmez iken outline diğer elementlerin üstüne biner */
}